# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# Directory created by coverage
coverage/

# Directory for dev config
tool/

# IDE
.vscode/
.idea/